
<%= search_form_for @search do |f| %>

	<%= render 'index_search_program.html.erb', f: f %>

	<%= render 'index_search_contact.html.erb', f: f %>

	<%= render 'index_search_profession.html.erb', f: f %>

	<div class="row">
		    
		<div class="large-6 columns">
	
		  <%= f.submit t('actions.search'), class: "buscar" %>
	
		</div>
	
	</div>
	 
<% end %>