  <thead>
    <tr>

	    	<div class="row">

					<% if @assessments.total_count>1 %>
	    		  		
	    		  <% if staff?(current_user) %>
		
				    	<div class="large-2 columns">
		
			  				<th><%= sort_link(@search, :contact_id, ta('assessment.contact')) %></th>
		      
		    			</div>
	    			
	    			<% end %>        
					
			    	<div class="large-3 columns">
	
		  				<th><%= sort_link(@search, :program_id, ta('assessment.program')) %></th>
	      
	    			</div>


	    			<div class="large-2 columns">

		  				<th><%= sort_link(@search, :program_institution_id, tm('institution').capitalize) %></th>
		      
	    			</div>
	    			        
					
			    	<div class="large-2 columns">
	
		  				<th><%= sort_link(@search, :profession_id, ta('assessment.profession')) %></th>
	      
	    			</div>

					<% else %>
						
						<div class="large-2 columns">
	
		  				<th><%= ta('assessments.contact_id') %></th>
	      
	    			</div>
	    			        
					
			    	<div class="large-3 columns">
	
		  				<th><%= tm('program').capitalize %></th>
	      
	    			</div>
	    			
	    			<div class="large-2 columns">

		  				<th><%= tm('institution').capitalize %></th>
	      
	    			</div>
	    			        
					
			    	<div class="large-2 columns">
	
		  				<th><%= tm('profession').capitalize %></th>
	      
	    			</div>
						
					<% end %>		
	    			            			        			            			        
					
				    <div class="large-3 columns">
	
		      		<th colspan="3"></th>
	
						</div>
			
						
				</div>
		
			
    </tr>
    
  </thead>