<div class="row">

	 		<div class="large-2 columns", class: "left inline">
	
		 	 <%= form.label ta('institution.name')%> <br>

			</div>
	 		
	 		<div class="large-10 columns">
  
  			<% if admin_or_manager?(current_user) %>
  			
			 	  <%= form.text_field :name %>     
	
				<% else %>

					<% if @institution.name.present? %>
					
						<h6> <%= @institution.name %></h6>
						
					<% end %>
					
				
				<% end %>
				     	
			</div>
			
</div>

<div class="row">

	 		<div class="large-2 columns", class: "left inline">
	
		 	 <%= form.label ta('institution.abbreviation')%> <br>

			</div>
	 		
	 		<div class="large-10 columns">
  
		 	  <%= form.text_field :abbreviation %>     
	     	
			</div>
			
</div>