<div class="row custom-panel3">

		<div class="row">

		 		<div class="large-1 columns", class: "left inline">
						

			    <%= accreditation_fields.label ta('accreditation.original')  %>
	
				</div>
		 		
		 		<div class="large-2 columns">
	  

			  	<%= accreditation_fields.check_box :original %>        	
	  	
				</div>

		 		<div class="large-1 columns", class: "left inline">
						

			    <%= accreditation_fields.label ta('accreditation.renewed')  %>
	
				</div>
		 		
		 		<div class="large-2 columns">
	  

			  	<%= accreditation_fields.check_box :renewed %>        	
	  	
				</div>

		 		<div class="large-2 columns", class: "left inline">
		
			    <%= accreditation_fields.label ta('accreditation.suspended')  %><br>
	
				</div>
		 		
		 		<div class="large-1 columns">
	  

			  	<%= accreditation_fields.check_box :suspended %>        	
	  	
				</div>
	
			
		 		<div class="large-2 columns", class: "left inline">
		
			    <%= accreditation_fields.label ta('accreditation.revoked')  %><br>
	
				</div>
		 		
		 		<div class="large-1 columns">
	  

			  	<%= accreditation_fields.check_box :revoked %>        	
	  	
				</div>
	
		</div>	 		
</div>
