<%= form.fields_for :phone do |phone| %>

	<div class="row">

		 		<div class="large-2 columns", class: "left inline">

	 				<%= phone.label ta('phone.main') %>

				</div>

		 		<div class="large-2 columns">


				  <%= phone.text_field :main %>

				</div>

		 		<div class="large-2 columns", class: "left inline">

					<%= phone.label ta('phone.other') %>

				</div>


		 		<div class="large-2 columns">

				   <%= phone.text_field :other %>

				</div>

		 		<div class="large-2 columns", class: "left inline">

					<%= phone.label ta('phone.fax') %>

				</div>

		 		<div class="large-2 columns">

		   <%= phone.text_field :fax %>

				</div>

	</div>

<% end %>
