<%= form_for(@institution) do |form| %>
  <% if @institution.errors.any? %>
    <div id="error_explanation">
			<h2> <%= t('validation.messagetext.system_detected') %> <%= pluralize(@institution.errors.count, t('validation.messagetext.error')) %> <%= t('validation.messagetext.please_correct_and_retry') %> </h2>
      <ul>
      <% @institution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<div class="row custom-panel">

	<%= render 'form_name.html.erb', form: form %>

	<%= render 'form_address.html.erb', form: form %>

	<%= render 'form_phones.html.erb', form: form %>

	<%= render 'form_webinfo.html.erb', form: form %>

</div>

	<% if is_admin_or_manager(current_user) %>

		<%= render 'form_kind.html.erb', form: form %>

	<div class="row">

					<h4><%= tm('accreditation').capitalize %></h4>

	</div>


			<%= render 'form_accreditation.html.erb', form: form %>

			<%= render 'form_incomplete_data.html.erb', form: form %>


	</div>

	<% end %>


		<%=	permitted_institution_options(current_user, form) %>



<div class="row actions">
  	<%= form.submit :value => t('actions.confirm'), :class => 'button small success' %> |
  	<%= link_to t('actions.cancel'), institutions_path, class: "anular" %>
</div>

<% end %>
