<div class="row">

	<div class="large-8 columns">

		<% if admin_or_manager?(current_user) %> 

				
			<h2><%= t('entity').to_s.pluralize.upcase %></h2>
		
			<h2 class="subheader"><%= t('institution_summary').capitalize.pluralize(@institutions.total_count).pluralize.to_s.capitalize %> (<%= @institutions.total_count  %> /  <%= @numinstitutions %>)  	</h2>

		<% else %>

			<h2><%= t('my.f').to_s.upcase+' '+tm('institution').to_s.upcase %></h2>
		
			<h2 class="subheader"><%= t('summary').capitalize %></h2>
						
		<% end %>
		
	</div>

		<div class="large-4 columns">
	
			<% if can? :create, @institution %>
		 	
			 	<%= link_to image_tag('plus.png', class: "header-create-new", alt: t('actions.new.f')+' '+tm('institution')), new_institution_path %>	 

			<% end %>
	  
	  </div>
		  
</div>