<div class="row">
		<table>
			<tr>

							<div class="large-4 columns">

								<th><strong><%= tm('address').capitalize %></strong></th>

							</div>


			</tr>

			<div class="row">

				<tr>


						<td><%= @institution.address.street %> - <%= @institution.address.neighborhood %></td>

				</tr>

				<tr>

						<td><%= @institution.address.municipality.namewithstate %></td>


				</tr>

				<tr>

						<td><%= ta('address.postalcode') %> <%= @institution.address.postalcode %></td>


					</div>

				</tr>

		</div>

	</table>
</div>
