
<div class="row custom-panel2">

	<%= render 'index_summary_authorized.html.erb' %>

	<%= render 'index_summary_first_year.html.erb' %>

	<div class="row">

		<hr class="custom-hr">

	</div>

	<%= render 'index_summary_available.html.erb' %>

</div>

<%= render 'index_summary_veterans.html.erb' %>

<%= render 'index_summary_total_active.html.erb' %>

<%#= render 'index_subtotal.html.erb' %>

<%#= render 'index_remaining_scholarships.html.erb' %>


<%= render 'index_max_scholarships.html.erb' %>
