<div data-alert class="alert-box warning">

		<h3><%= t('none.f') %> <%= t('new.f') %> <%= tm('assessment') %> <%= t('available') %></h3>

</div>

  	 <%= link_to t('actions.back'), programsituations_path, class: "voltar" %>