<div class="row">
		<table>
			<tr>
			
				<div class="large-4 columns">
		
					<th><strong><%= ta('programsituation.recommended_workload').capitalize %></strong></th>
			
				</div>

				<div class="large-4 columns">
		
					<th><strong><%= t('current_situation') %></strong></th>
			
				</div>

				<div class="large-2 columns">
		
					<th><strong>&#916;</strong></th>
			
				</div>
	
				<div class="large-2 columns">
		
					<th><strong>&#916; %</strong></th>
			
				</div>
					
							
			</tr>						
	
		</div>
			
			<div class="row">
		
				<tr>

				<div class="large-4 columns">
					
						<td><%= @programsituation.workload %></td>
										
					</div>

				<div class="large-2 columns">
		
					<td><%= @programsituation.assessment.program.workload %> </td>
			
				</div>

				<div class="large-2 columns">
		
					<td><%= @programsituation.workload-@programsituation.assessment.program.workload %> </td>
			
				</div>

				<div class="large-2 columns">
		
					<td><%= delta(@programsituation.assessment.program.workload,@programsituation.workload)   %></td>
			
				</div>
										
				</tr>
				
			</div>
						
		</div>

	</table>
</div>