<div class="row">
		<table>
			<tr>
			
				<div class="large-4 columns">
		
					<th><strong><%= ta('recommendation.practice').capitalize %></strong></th>
			
				</div>

				<div class="large-4 columns">
		
					<th><strong><%= t('current_situation') %></strong></th>
			
				</div>

				<div class="large-2 columns">
		
					<th><strong>&#916;</strong></th>
			
				</div>
	
				<div class="large-2 columns">
		
					<th><strong>&#916; %</strong></th>
			
				</div>
					
							
			</tr>						
	
		</div>
			
			<div class="row">
		
				<tr>

				<div class="large-4 columns">
					
						<td><%= recommendation.practice %></td>
										
					</div>

				<div class="large-4 columns">
					
						<td><%= @schoolyears.for_progyear(@programsituation.assessment.program_id, recommendation.programyear).first.practice %></td>
										
					</div>

				<div class="large-2 columns">
		
					<td><%= recommendation.practice-@schoolyears.for_progyear(@programsituation.assessment.program_id, recommendation.programyear).first.practice %> </td>
			
				</div>

				<div class="large-2 columns">
		
					<td><%= delta(@schoolyears.for_progyear(@programsituation.assessment.program_id, recommendation.programyear).first.practice,recommendation.practice)   %></td>
			
				</div>
										
				</tr>
				
			</div>
						
		</div>

	</table>
</div>