<div class="row">
		<table>
			<tr>
			
				<div class="large-4 columns">
		
					<th><strong><%= ta('recommendation.workload').capitalize %></strong></th>
			
				</div>

				<div class="large-4 columns">
		
					<th><strong><%= t('current_situation') %></strong></th>
			
				</div>

				<div class="large-2 columns">
		
					<th><strong>&#916;</strong></th>
			
				</div>
	
				<div class="large-2 columns">
		
					<th><strong>&#916; %</strong></th>
			
				</div>
					
							
			</tr>						
	
		</div>
			
			<div class="row">
		
				<tr>

				<div class="large-4 columns">
					
						<td><%= recommendation.workload %></td>
										
					</div>

				<div class="large-4 columns">
					
						<td><%= @schoolyears.for_progyear(@programsituation.assessment.program_id, recommendation.programyear).first.workload %></td>
										
					</div>

				<div class="large-2 columns">
		
					<td><%= recommendation.workload-@schoolyears.for_progyear(@programsituation.assessment.program_id, recommendation.programyear).first.workload %> </td>
			
				</div>

				<div class="large-2 columns">
		
					<td><%= delta(@schoolyears.for_progyear(@programsituation.assessment.program_id, recommendation.programyear).first.workload,recommendation.workload)   %></td>
			
				</div>
										
				</tr>
				
			</div>
						
		</div>

	</table>
</div>