<div class="row custom-panel3">

	<h4><em><%= tm('recommendation').capitalize %></em></h4>

		<table>
			<tr>
			
				<div class="large-4 columns">
		
					<th><strong><%= ta('recommendation.theory').capitalize %></strong></th>
			
				</div>

				<div class="large-4 columns">
		
					<th><strong><%= ta('recommendation.practice').capitalize %></strong></th>
			
				</div>

				<div class="large-4 columns">
		
					<th><strong><%= ta('recommendation.workload').capitalize %></strong></th>
			
				</div>

					
							
			</tr>						
	
		</div>
			
			<div class="row">
		
				<tr>

				<div class="large-4 columns">
					
						<td><%= recommendation.theory %></td>
										
					</div>

				<div class="large-4 columns">
					
						<td><%= recommendation.practice %></td>
										
					</div>

				<div class="large-4 columns">
					
						<td><%= recommendation.workload %></td>
										
					</div>

				</tr>
				
			</div>
						
		</div>

	</table>
</div>