	<div class="row">
	
		 		<div class="medium-2 columns", class: "left inline">
	
	 				<%= f.label t('attribution') %>
		
				</div>
		 			 		
		 		<div class="medium-3 columns", class: "left inline">
		
	 			  <%= f.label ta('supervisor.program')  %><br>
	
				</div>
	 		
		 		<div class="medium-2 column">
	  
			  	<%= f.check_box :program %>        		

				</div>

		 		<div class="medium-3 columns", class: "left inline">
		
	 			  <%= f.label ta('supervisor.course')  %><br>
	
				</div>
	 		
		 		<div class="medium-2 column">
	  
			  	<%= f.check_box :course %>        		

				</div>
		
	</div>