 <thead>
    <tr>

	  <div class="row">

			<% if admin_or_manager?(current_user) && (@programnames.total_count>1) %>
		  	
			    	<div class="large-4 columns">
	
		  				<th><%= sort_link(@search, :name, t('name')) %></th>
	      
	    			</div>


						<% if admin?(current_user) %>
					
				    	<div class="large-2 columns">
	
			  				<th><%= sort_link(@search, :pap, ta('programname.pap').capitalize) %></th>
	      
	    				</div>
	    			        

				    	<div class="large-2 column">
		
			  				<th><%= sort_link(@search, :pap, ta('programname.medres').capitalize) %></th>
		      
		    			</div>
	    		
	    			<% end %>
	    			
	    		<div class="large-1 column">
	
	
		     	 <th><%= sort_link(@search, :updated_at, default_order: :desc) %></th>
	
      
    			</div>
	        		  
	  	<% else %>

				<div class="large-3 columns">
	
		      <th><%= ta('programname.name')%></th>  
	
				</div>

				<div class="large-2 columns">
	
		      <th><%= ta('programname.previousname')%></th>  
	
				</div>
	
				<div class="large-2 columns">
	
		      <th><%= ta('programname.pap')%></th>  
	
				</div>
	
				<div class="large-2 columns">
	
		      <th><%= ta('programname.medres')%></th>  
	
				</div>
  	
  	    	<div class="large-1 column">
	
	
		     	 <th><%= ta('programname.updated_at') %></th>
	
      
    			</div>

	  	<% end %>
				
		    <div class="large-3 columns">

      		<th colspan="3"></th>

				</div>
				
			</div>
		
    </tr>
    
  </thead>