  <thead>
    <tr>

    	<div class="row">


		    	<div class="large-2 columns">

	  				<th><%= sort_link(@search, :start, ta('schoolterm.start')) %></th>

    			</div>


		    	<div class="large-2 columns">

	  				<th><%= sort_link(@search, :finish, ta('schoolterm.finish')) %></th>

    			</div>

          <div class="large-1 column">

	  				<th><%= sort_link(@search, :scholarshipsoffered, ta('schoolterm.scholarshipsoffered')) %></th>

    			</div>

		    	<div class="large-1 column">

	  				<th><%= sort_link(@search, :finish, ta('schoolterm.registrationseason')) %></th>

    			</div>


		    	<div class="large-1 column">

	  				<th><%= sort_link(@search, :active, ta('schoolterm.active')) %></th>

    			</div>


		    	<div class="large-1 column">

	  				<th><%= sort_link(@search, :pap, ta('schoolterm.pap')) %></th>

    			</div>


		    	<div class="large-1 column">

	  				<th><%= sort_link(@search, :medres, ta('schoolterm.medres')) %></th>

    			</div>


		    <div class="large-3 columns">

      		<th colspan="3"></th>

				</div>

			</div>

    </tr>

  </thead>
