<%= render 'index_header.html.erb' %>

<table>
  <thead>  
    <tr>
    	<div class="row">
    		<div class="large-5 columns">	
					<th><%= sort_link(@search, :name) %></th>
				</div>
    		<div class="large-4 columns">					
					<th><%= sort_link(@search, :state_name) %></th>
				</div>
    		<div class="large-3 columns">					
    		  <th colspan="3"></th>
				</div>
			</div>    
    </tr>
  </thead>

  <tbody>
    <% @stateregions.each do |stateregion| %>
      <tr>
			<div class="row">      
				<div class="large-5 columns">
        
	        <td><%= link_to stateregion.name, stateregion %></td>

				</div>
				
				<div class="large-4 columns">

	        <td><%= stateregion.state.name %></td>

				</div>
				
				<div class="large-1 column">

		        <% if can? :read, stateregion %>
	 				
			        <td><%= link_to t('actions.show'), stateregion, class: "mostrar" %>

						<% end %>
						
					</div>
	
					<div class="large-1 column">
					
		        <% if can? :edit, stateregion %>
	
	    		  <td><%= link_to t('actions.edit'), edit_stateregion_path(stateregion), class: "editar" %></td>   
			
	  				<% end %>
	
					</div>
				
					<div class="large-1 column">
		
		        <% if can? :destroy, stateregion %>
	  			      
 		     		  <td><%= link_to t('actions.delete'),stateregion, :method => :delete, data: { confirm: t('confirm.delete') }, class: "remover" %></td>     
	              
	    	    <% end %>
	
	        </div>
				</div> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="row">

  <%= paginate @stateregions %>
  
</div>

<%= render 'index_search.html.erb' %>