<div class="row">

		<h2><%= tm('scholarship').capitalize %></h2>

</div>

<div class="row">

		<span class="id-label"><h3><%= @scholarship.id %> </h3></span>

</div>

<div class="row">

	<h3><%= @scholarship.name %></h3>

</div>

<div class="row">


		<h4><em> <%= display_sector(@scholarship) %></em></h4>

</div>

<div class="row">
		<table>
			<tr>

							<div class="large-2 columns">

								<th><strong><%= ta('scholarship.amount')%></strong></th>

							</div>

							<div class="large-2 columns">

								<th><strong><%= ta('scholarship.writtenform')%></strong></th>

							</div>

							<% if admin?(current_user) || medres_manager?(current_user) %>

								<div class="large-2 columns">

									<th><strong><%= ta('scholarship.partialamount')%></strong></th>

								</div>

								<div class="large-2 columns">

									<th><strong><%= ta('scholarship.writtenformpartial')%></strong></th>

								</div>

							<% end %>

							<div class="large-2 columns">

								<th><strong><%= ta('scholarship.start')%></strong></th>

							</div>

							<div class="large-2 columns">

								<th><strong><%= ta('scholarship.finish')%></strong></th>

							</div>

			</tr>

			<div class="row">

				<tr>
					<div class="large-2 columns">

						<td><%= @scholarship.amount %></td>

					</div>

					<div class="large-2 columns">

						<td><%= @scholarship.writtenform %></td>

					</div>

					<% if admin?(current_user) || medres_manager?(current_user) %>

						<div class="large-2 columns">

							<td><%= @scholarship.partialamount %></td>

						</div>

						<div class="large-2 columns">

							<td><%= @scholarship.writtenformpartial %></td>

						</div>

					<% end %>

					<div class="large-2 columns">

						<td><%= I18n.l(@scholarship.start) %></td>

					</div>

					<div class="large-2 columns">

						<td><%= display_date_finished(@scholarship) %></td>

					</div>

				</tr>
		</div>

	</table>
</div>

<div class="row">


</div>

<div class="row">

	<% if can? :edit, @scholarship %>

		<%= link_to t('actions.edit'), edit_scholarship_path(@scholarship), class: 'editar'  %> |

	<% end %>

	<%= link_to t('actions.back'), scholarships_path,  class: 'voltar'  %>

</div>
