<div class="row">

	 		<div class="large-2 columns", class: "left inline">

				<%= f.label :setnumdays %><br>

			</div>

	 		<div class="large-2 columns">

	   <%= f.number_field :setnumdays %>

			</div>

  		<div class="large-2 columns", class: "left inline">

				<%= f.label :dayspaidcap %><br>

			</div>

	 		<div class="large-2 columns">

	   <%= f.number_field :dayspaidcap %>

			</div>

  		<div class="large-2 columns", class: "left inline">

				<%= f.label ta('leavetype.maxnumdays') %><br>

			</div>

	 		<div class="large-2 columns">

	   <%= f.number_field :maxnumdays %>

			</div>

</div>
