<div class="row">

  		<div class="large-2 columns", class: "left inline">
	
				<%= f.label t('sector') %><br>

			</div>

  		<div class="large-4 columns", class: "left inline">
	
				<%= f.label :pap %><br>

			</div>
	 		
	 		<div class="large-1 column">
  
	   <%= f.check_box :pap %>        	
 
			</div>

  		<div class="large-3 columns", class: "left inline">
	
				<%= f.label :medres %><br>

			</div>
	 		
	 		<div class="large-1 column">
  
	   <%= f.check_box :medres %>        	
 
			</div>

</div>
