  <thead>
    <tr>

    	<div class="row">
    
	  		
		    	<div class="large-2 columns">

	  				<th><%= sort_link(@search, :institution_id, ta('roster.institution_id')) %></th>
      
    			</div>
    			        
				
		    	<div class="large-2 columns">

	  				<th><%= sort_link(@search, :schoolterm_id, ta('roster.schoolterm_id')) %></th>
      
    			</div>
    			        
				
		    	<div class="large-2 columns">

	  				<th><%= sort_link(@search, :authorizedsupervisors, ta('roster.authorizedsupervisors')) %></th>
      
    			</div>
    			        
				
		    	<div class="large-2 columns">

	  				<th><%= sort_link(@search, :dataentrystart, ta('roster.dataentrystart')) %></th>
      
    			</div>
    			        
				
		    	<div class="large-2 columns">

	  				<th><%= sort_link(@search, :dataentryfinish, ta('roster.dataentryfinish')) %></th>
      
    			</div>
    			        
				
		    <div class="large-3 columns">

      		<th colspan="3"></th>

				</div>
				
			</div>
		
    </tr>
    
  </thead>