<%= form_for(@characteristic) do |f| %>
  <% if @characteristic.errors.any? %>
    <div id="error_explanation">

			<h2> <%= t('validation.messagetext.system_detected') %> <%= pluralize(@characteristic.errors.count, t('validation.messagetext.error')) %> <%= t('validation.messagetext.please_correct_and_retry') %> </h2>

      <ul>
      <% @characteristic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if admin_or_manager?(current_user)  %>

	<div class="row">

		<% if action_name!='edit' %>

		 		<div class="large-5 columns", class: "left inline">

		    <%= f.label ta('institution.name') %><br>

				</div>

		 		<div class="large-7 columns">

				  <%= f.collection_select :institution_id, Institution.registered.without_characteristic, :id, :name,  {prompt: true} %>


				</div>

		<% else %>

		 		<div class="large-5 columns">

					<% if @characteristic.institution.present? %>

					  <h3><%= @characteristic.institution.name %></h3>

					<% end %>

				</div>


		<% end %>

	</div>

<% end %>

<%= render 'form_funding.html.erb', f: f %>

<%= render 'form_general.html.erb', f: f %>



	<% if can? :update, Characteristic  %>

	   <div class="row actions">
	  	<%= f.submit :value => t('actions.confirm'), class: 'confirmar' %> |

	<% end %>

  	 <%= link_to t('actions.cancel'), characteristics_path, class: "anular" %>

	</div>

<% end %>
