	<div class="row">

		<h4>
			 		<div class="large-6 columns", class: "left inline">

						<%= t('general_characteristics') %>
					 
					</div>
		</h4>
		
		</div>

	<div class="row panel secondary">


		<div class="row">
		
			 		<div class="large-3 columns", class: "left inline">
		
		 				<%= f.label :mission %>
			
					</div>
			 			 		
			 		<div class="large-9 columns">
		
		 
					  <%= f.text_area :mission %>        	
		    
					</div>
	
		</div>

		<div class="row">
		
			 		<div class="large-3 columns", class: "left inline">
		
		 				<%= f.label :corevalues %>
			
					</div>
			 			 		
			 		<div class="large-9 columns">
		
		 
					  <%= f.text_area :corevalues %>        	
		    
					</div>
	
		</div>

		<div class="row">
		
			 		<div class="large-3 columns", class: "left inline">
		
		 				<%= f.label :userprofile %>
			
					</div>
			 			 		
			 		<div class="large-9 columns">
		
		 
					  <%= f.text_area :userprofile %>        	
		    
					</div>
	
		</div>
	
	<div class="row">
		
			 		<div class="large-3 columns", class: "left inline">
		
		 				<%= f.label :relationwithpublichealthcare %>
			
					</div>
			 			 		
			 		<div class="large-9 columns">
		
		 
					  <%= f.text_area :relationwithpublichealthcare %>        	
		    
					</div>
	
		</div>
	
	<div class="row">
		
			 		<div class="large-3 columns", class: "left inline">
		
		 				<%= f.label :highlightareas %>
			
					</div>
			 			 		
			 		<div class="large-9 columns">
		
		 
					  <%= f.text_area :highlightareas %>        	
		    
					</div>
	
		</div>
 </div>
	