

<div class="row custom-panel2">

	<h4><%= ta('characteristic.userprofile')%></h4>

</div>

<div class="row">
	
	<%= @characteristic.userprofile %>
	
</div>



<div class="row custom-panel">

	<h4><%= ta('characteristic.relationwithpublichealthcare')%></h4>

</div>

<div class="row">
	
	<%= @characteristic.relationwithpublichealthcare %>
	
	
	
</div>

<div class="row custom-panel3">

	<h4><%= ta('characteristic.highlightareas')%></h4>

</div>

<div class="row">
	
	<%= @characteristic.highlightareas %>
	
	
	
</div>