
	<div class="row">
	
		 		<div class="large-4 columns", class: "left inline">
	
					<%= f.label t('department_in_charge') %>
	
				</div>
				
		 		<div class="large-2 columns", class: "left inline">
		
					  <%= f.label ta('institution.pap')%>
	
				</div>
		 			 		
		 		
		 		<div class="large-2 column">
	  
			   <%= f.check_box :pap %>        	
	 
				</div>
	
		 		<div class="large-2 columns", class: "left inline">
		
					  <%= f.label ta('institution.medres')%>
				</div>
		 			 		
		 		
		 		<div class="large-2 column">
	  
			   <%= f.check_box :medres %>        	
	 
				</div>
		
	</div>