<div class="custom-panel9">


  <form>
    <fieldset>
      <legend><%= tm('bankaccount') %></legend>

      <div class="row">

        <div class="large-3 columns">

          <div class="field">

            <th><%= f.label ta('bankaccount.num') %></th>
            <span data-tooltip aria-haspopup="true" class="has-tip [tip-top]" title=<%=t('tooltip.bankaccount.num.must_be_unique_within_the_same_branch')%>><%=t('help')%></span>

          </div>

        </div>

        <div class="large-3 columns">

          <%= f.text_field :bankaccount_num_cont %>

        </div>

        <div class="large-3 columns">

          <div class="field">

            <th><%= f.label t('branch').capitalize%></th>

          </div>

        </div>

        <div class="large-3 columns">

          <%= f.text_field :bankaccount_bankbranch_code_cont %>

        </div>

      </div>

    </fieldset>
  </form>
</div>
</br>
