<div class="row">

		<table>
			<tr>
			
				<div class="large-4 colums">
		
					<th><strong><%= ta('student.id') %></strong></th>
		
				</div>

				<% if @student.previouscode.present? %>
				
					<div class="large-4 colums">
		
						<th><strong><%= ta('student.previouscode') %></strong></th>
		
					</div>

				<% end %>
				
				<div class="large-4 colums">
		
					<th><strong><%= ta('personalinfo.tin') %></strong></th>
		
				</div>
			
			<tr>

				<div class="row">
				
						<div class="large-4 columns">
						
							<td><%= @student.id %></td>
								
						</div>

					<% if @student.previouscode.present? %>

							<div class="large-4 columns">
						
								<td><%= @student.previouscode %></td>
								
							</div>

						<% end %>
						
						<div class="large-4 columns">
						
							<td><%= @student.cpf %></td>
								
						</div>
																	
				</div>
								
			</tr>						

		</div>
	</table>
</div>

