
<div class="row">

	<hr>

		<table>
			<tr>

							<div class="large-3 columns">

								<th><strong><%= tm('council').capitalize %></strong></th>

							</div>

							<div class="large-3 columns">

								<th><strong><%= ta('diploma.councilcredential') %></strong></th>

							</div>

							<div class="large-3 columns">

								<th><strong><%= ta('diploma.councilcredentialstatus') %></strong></th>

							</div>

							<div class="large-3 columns">

								<th><strong><%= ta('diploma.councilcredentialexpiration') %></strong></th>

							</div>

			</tr>

			<div class="row">

				<tr>

					<div class="large-3 columns">

						<td>

							<% if diploma.council_id.present? %>

								<%= link_to diploma.council.name, diploma.council %>

							<% end %>

						</td>

					</div>

					<div class="large-3 columns">

						<td>

							<% if diploma.councilcredential.present? %>

								<%= diploma.councilcredential %>

							<% end %>

						</td>

					</div>

					<div class="large-3 columns">

						<td>

							<% if diploma.councilcredentialstatus.present? %>

								<%= diploma.councilcredentialstatus %>

							<% end %>

						</td>

					</div>


					<div class="large-3 columns">


						<td>

								<% if diploma.councilcredentialexpiration.present? %>

									<%= I18n.l(diploma.councilcredentialexpiration, format: :compact) %>

								<% end %>

						</td>

					</div>

				</tr>
		</div>

	</table>
</div>
