<div class="row">

      <div class="large-3 columns", class: "left inline">

      <%= f.label ta('admission.absentfinalexam') %>

    </div>


    <div class="large-1 column">

       <%= f.number_field :absentfinalexam, min:0 %>

    </div>


      <div class="large-3 columns", class: "left inline">

      <%= f.label ta('admission.appealsdeniedfinalexam') %>

    </div>


    <div class="large-1 column">

       <%= f.number_field :appealsdeniedfinalexam, min:0 %>

    </div>

      <div class="large-3 columns", class: "left inline">

      <%= f.label ta('admission.appealsgrantedfinalexam') %>

    </div>

<div class="large-1 column">

       <%= f.number_field :appealsgrantedfinalexam, min:0 %>

    </div>


</div>
