<div class="row">

  <div class="large-3 columns", class: "left inline">

    <%= f.label ta('admission.accreditedgrants') %>

  </div>

  <div class="large-1 columns">

    <%= f.number_field :accreditedgrants, min:0 %>

  </div>

  <div class="large-3 columns", class: "left inline">

    <%= f.label ta('admission.grantsasked') %>

  </div>

  <div class="large-1 columns">

    <%= f.number_field :grantsasked, min:0 %>

  </div>

  <div class="large-3 columns", class: "left inline">

    <%= f.label ta('admission.grantsgiven') %>

  </div>

  <div class="large-1 columns">

    <%= f.number_field :grantsgiven, min:0 %>

  </div>


</div>
