<div class="row">

	<div class="large-8 columns">
			
		<% if regular_user?(current_user) %>
					
			<h2><%= t('my_program_info').to_s.upcase  %></h2>	

		<% else %>

			<h2> <%= t('course').pluralize.upcase %></h2>

			<% if @programs.total_count==0 %>

				<div data-alert class="alert-box warning">
			
			 	  <h2 class="subheader"> <%= tm('program').pluralize.capitalize %> (<%= @programs.total_count  %> /  <%= @numprograms %>) </h2>

				</div>
				
			<% else %>

			 	  <h2 class="subheader"> <%= tm('program').pluralize.capitalize %> (<%= @programs.total_count  %> /  <%= @numprograms %>) </h2>
			
			<% end %>
			
		<% end %>

	</div>					

	<%= render 'index_header_new_button' %>

</div>