<div class="row">
		<table>
			<tr>
			
				<div class="large-6 columns">
					
					<th><strong><%= t('activerecord.attributes.regionaloffice.name')%></strong></th>
					
				</div>

				<div class="large-2 columns">
					
					<th><strong><%= t('activerecord.attributes.regionaloffice.num')%></strong></th>
					
				</div>
				
				<div class="large-4 columns">
					
					<th><strong><%= t('activerecord.attributes.regionaloffice.directorsname')%></strong></th>
					
				</div>
												
			</tr>						
		
			<div class="row">
		
				<tr>

					<div class="large-6 columns">
					
						<td><%= @regionaloffice.name %></td>
					
					</div>

					<div class="large-2 columns">
					
						<td><%= @regionaloffice.num %></td>
					
					</div>
	
 				<div class="large-4 columns">
					
						<td><%= @regionaloffice.directorsname %></td>
					
					</div>
										
				</tr>
		</div>

	</table>
</div>