		<table>
			<tr>
			
							<div class="large-4 columns">
					
								<th><strong><%= ta('professionalarea.previousname')%></strong></th>
					
							</div>
					
							<div class="large-4 columns">
					
								<th><strong><%= ta('professionalarea.previouscode')%></strong></th>
					
							</div>

							<div class="large-4 columns">
					
								<th><strong><%= ta('professionalarea.comment')%></strong></th>
					
							</div>
							
			</tr>						
		
			<div class="row">
		
				<tr>
										
					<div class="large-4 columns">
					
						<td><%= @professionalarea.previousname %></td>
					
					</div>

					<div class="large-4 columns">
					
						<td><%= @professionalarea.previouscode %></td>
					
					</div>

					<div class="large-4 columns">
					
						<td><%= @professionalarea.comment %></td>
					
					</div>

				</tr>
		</div>

	</table>
</div>
