<div class="row">

      <div class="large-2 columns", class: "left inline">

				  <%= f.label ta('user.email') %>

          <span data-tooltip aria-haspopup="true" class="has-tip" title="Informe um endereço de correio eletrônico válido.  Se o sistema informar que está 'indisponível' é porque já existe um cadastro com o referido endereço.  Dica: na tela de contatos, procure por este e-mail."><%= t('help') %></span>

   		</div>

      <div class="large-10 columns">

			    <%= f.text_field :email %>

   		</div>


 </div>

<% if is_admin_or_manager(current_user) %>

 <div class="row">

      <div class="large-2 columns", class: "left inline">

		    <%= f.label ta('user.password') %><br>

   		</div>

      <div class="large-10 columns">

				<%= f.password_field :password %>

   		</div>

      <div class="large-2 columns", class: "left inline">

		    <%= f.label ta('user.password_confirmation') %><br>

   		</div>

      <div class="large-10 columns">

				<%= f.password_field :password_confirmation %>

   		</div>

 </div>

<% end %>
