<div class="row">

	<div class="large-8 columns">

		<%# if is_own_user(current_user) || regular_user?(current_user) %>

		<% if regular_user?(current_user) %>

			<h2 class="text-center"><%= t('people_management').mb_chars.upcase %> </h2>
			<h2 class="subheader"><%= t('my.m').capitalize+' '+tm('user') %> </h2>

		<% else %>

			<h2 class="text-center"><%= t('people').upcase %> </h2>
			<h2 class="subheader"><%= tm('user').pluralize(@users.total_count).pluralize.mb_chars.capitalize %> (<%= @users.total_count  %> /  <%= @numusers %>)  	</h2>

		<% end %>

  </div>

	<% if can? :create, User %>

		<div class="large-4 columns">

	  		<%= link_to image_tag('plus.png', class: "header-create-new", alt: t('actions.new.m')+' '+tm('user')), new_user_path %>

	  </div>

  <% end %>

</div>
