<%= search_form_for @search do |f| %>

<div class="row">
			
		<div class="large-3 columns">
		
			<th>

			<% if (Settings.international)==true %>
				
			<%# To fix %> 

			<% else %> 

			<% f.label ta('state.country')%>

			<% end %> 

			</th>

		</div>
		
		<div class="large-9 columns">

		<% if (Settings.international)==true %>
				
		<%# To fix %> 

		<% else %> 

		<%= f.select :country_id_eq, options_from_collection_for_select(Country.registered, :id, :brname), include_blank: true %>

		<% end %> 


				
		</div>
		
</div>

	<div class="row">

		<div class="large-3 columns">
		
			<div class="field">
			
			  <th><%= f.label ta('state.name')%></th>
		
			</div>

		</div>
			
		<div class="large-9 columns">
		
				<%= f.text_field :name_cont %>  
		
		</div>
	    
	</div>

<div class="row">
	
		<div class="large-3 columns">

			  <th><%= f.label ta('state.abbreviation')%></th>
		
		</div>

		<div class="large-9 columns">
		
			<%= f.text_field :abbreviation_eq %>  
		
		</div>

</div>

<div class="row">
	    
	<div class="large-6 columns">

	  <%= f.submit t('actions.search'), class: "buscar" %>

	</div>

</div>
  
<% end %>