
<div class="row">

  <div class="large-2 columns", class: "left inline">

    <%= completion_fields.label ta('completion.inprogress') %>

  </div>

  <div class="large-1 column">

    <%= completion_fields.check_box :inprogress %>

  </div>

  <div class="large-2 columns", class: "left inline">

    <%= completion_fields.label ta('completion.pass') %>

  </div>

  <div class="large-1 column">

    <%= completion_fields.check_box :pass %>

  </div>

  <div class="large-1 column", class: "left inline">

    <%= completion_fields.label ta('completion.fail') %>

  </div>

  <div class="large-1 column">

    <%= completion_fields.check_box :fail %>

  </div>

  <div class="large-1 column", class: "left inline">

    <%= completion_fields.label ta('completion.mustmakeup') %>

  </div>

  <div class="large-1 column">

    <%= completion_fields.check_box :mustmakeup %>

  </div>

  <div class="large-1 column", class: "left inline">

    <%= completion_fields.label ta('completion.dnf') %>

  </div>

  <div class="large-1 column">

    <%= completion_fields.check_box :dnf %>

  </div>

</div>
