<%= form_for(@registration) do |f| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">

			<h2> <%= t('validation.messagetext.system_detected') %> <%= pluralize(@registration.errors.count, t('validation.messagetext.error')) %> <%= t('validation.messagetext.please_correct_and_retry') %> </h2>

      <ul>
      <% @registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if is_local_admin(current_user) %>

    <%#= render 'form_display_available_institution_vacancies' %>

  <% end %>

  <% if num_incoming_students(current_user)>0 || action_name=='edit' %>

    <%= render 'form_student', f: f%>

    <%= render 'form_schoolyear', f: f%>

    <% if is_staff(current_user) %>

        <%= render 'form_accreditation.html.erb', form: f %>

        <%= render 'form_supportingdoc', f: f %>

        <div class="row">

          <hr>

        </div>

        <% if is_admin(current_user) %>

          <%= render 'form_registration_kind', form: f %>

          <%#= render 'form_completion', form: f %>

        <% end %>

    <% end %>

    <% if is_admin_or_manager(current_user) %>

      <div class="row">

    	   <hr class="custom-hr">

       </div>

          <%= render 'form_accreditation_authorization.html.erb', form: f %>

    <% end %>

    <div class="row actions">

      <%# hotfix %>
      
 			<%# if can? :update, Registration %>

 	  		<%= f.submit :value => t('actions.confirm'), class: t('confirmation') %> |

 			<%# end %>

   		 <%= link_to t('actions.cancel'), registrations_path, class: "anular" %>

 			</div>

  <% else %>

    <%= render 'warning_no_incoming_students_found' %>

    <%= link_to t('actions.back'), registrations_path, class: "voltar" %>


  <% end %>



<% end %>
