<%= form.fields_for :webinfo do |webinfo| %>

<div class="row custom-panel4">

	<div class="row">
	
		 		<div class="large-2 columns", class: "left inline">
	
	 				<%= webinfo.label ta('webinfo.email') %>
		
				</div>
		 			 		
		 		<div class="large-4 columns">
	
	 
				  <%= webinfo.text_field :email %>        	
	    
				</div>
	
		 		<div class="large-2 columns", class: "left inline">
		
					<%= webinfo.label ta('webinfo.site') %>
	 
				</div>
		 			 		
		 		
		 		<div class="large-4 columns">
	  
				   <%= webinfo.text_field :site %>        	
	 
				</div>
		
	</div>

		<div class="row">
	
		 		<div class="large-2 columns", class: "left inline">
	
	 				<%= webinfo.label ta('webinfo.facebook') %>
		
				</div>
		 			 		
		 		<div class="large-4 columns">
	 
				  <%= webinfo.text_field :facebook %>        	
	    
				</div>

		 		<div class="large-2 columns", class: "left inline">
		
					<%= webinfo.label ta('webinfo.twitter') %>
	 
				</div>
	
		 		<div class="large-4 columns", class: "left inline">
		
				   <%= webinfo.text_field :twitter %>        	
	 
				</div>
	
		</div>
	
	</div>
<% end %>