<table>

	<%= render 'index_table_head.html.erb' %>

<tbody>
   <% @researchcenters.each do |researchcenter| %>
      <tr>
				<div class="row">
					
		   <div class="large-3 column">

		    <td><%= link_to researchcenter.institution_name, researchcenter.institution %></td>

			</div>
	
		   <div class="large-2 columns">
	
        <td><%= researchcenter.rooms %></td>

			</div>
				
	
		   <div class="large-2 columns">
	
        <td><%= researchcenter.labs %></td>

			</div>
				
	
		   <div class="large-2 columns">
	
        <td><%= researchcenter.production %></td>

			</div>
				
	
		   <div class="large-3 columns">

	        <% if can? :read, researchcenter %>
		        <td><%= link_to t('actions.show'), researchcenter, class: "mostrar" %></td>
					<% end %>

        <% if can? :update, researchcenter %>
			      <td><%= link_to t('actions.edit'), edit_researchcenter_path(researchcenter), class: "editar" %></td>   
					<% end %>

	        <% if can? :destroy, researchcenter %>
		     		<td><%= link_to t('actions.delete'),researchcenter, :method => :delete, data: { confirm: t('confirm.delete') }, class: "remover" %></td>     
					<% end %>
	
    	</div>
    	
    		</div>
    		
      </tr>
  <% end %>
  </tbody>


</table>

<div class="row">

  <%= paginate @researchcenters %>

</div>

<br>