<div class="row custom-panel4">
	
		<% if @event.versions.last.present? && @user.present? %>

				<div class="row">
			
				<strong><%= t('modified_by')%>: </strong>
		
					<%= @user.contact.name %> < <%= @user.email %> > <%= @user.institution.name %>
	
				</div>
					
		<% end %>

		<div class="row">
				
			<strong><%= t('latest_update')%></strong>
	
			<%=		@event.versions.length %>
						
	
			
	
		</div>
		
		<div class="row">
				
			<strong><%= t('when')%>: </strong>
	
			<%= I18n.l(@event.updated_at) %>
			
	
		</div>	
			
</div>
