<%# if regular_user?(current_user)  || is_own_user(current_user) %>
<% if regular_user?(current_user) %>

	<div class="row">

		<div class="large-10 columns">

			<h2 class="text-center"> <%= t('people_management').to_s.upcase %>

			<h2 class="subheader"> <%= t('my.m').capitalize+' '+tm('contact') %> </h2>

	  </div>

	</div>

<% else %>

	<div class="row">

		<div class="large-12 columns">

		 		<%  if staff?(current_user) %>

					<h2 class="text-center"><%= t('people').upcase %> </h2>

		    	<h2 class="subheader"> <%= t('activerecord.models.contact').pluralize.to_s.capitalize  %> (<%= @contacts.total_count  %> /  <%= @numcontacts %>)</h2>

	 		<% end %>

	 		</h2>

	  </div>

	</div>

<% end %>
