<div class="row custom-panel9"> 

<table>

  <thead>
    <tr>

      <div class="row">

        <div class="large-3 columns">

          <th><%= sort_link(@search, :email, t('user_email'), default_order: :desc) %></th>

        </div>

        <% if (admin_or_readonly?(current_user) || manager?(current_user)) %>

        <div class="large-3 columns">

          <th><%= sort_link(@search, :institution_name, tm('institution').capitalize, default_order: :desc) %></th>

        </div>

        <% end %>

        <div class="large-3 columns">

          <th><%= sort_link(@search, :updated_at, t('updated_at').capitalize, default_order: :desc) %></th>

        </div>

        <div class="large-3 columns">

          <th colspan="3"></th>

        </div>

      </div>

    </tr>

  </thead>

  <tbody>

  <% @nameless_contacts.each do |contact| %>
  <tr>

    <div class="large-3 columns">
      <td><%= link_to contact.user.email, contact.user %></td>
    </div>

    <div class="large-3 columns">

      <% if (admin_or_readonly?(current_user) || manager?(current_user)) %>

      <td><%= contact.user.institution.name %></td>

      <% end %>

    </div>

    <div class="large-3 columns">
      <td><%= I18n.l(contact.updated_at, format: :short) %></td>
    </div>

    <%= render 'index_table_buttons.html.erb', contact: contact %>

  </div>

</tr>

<% end %>

</tbody>
</table>

</div>

</div>
