<%= search_form_for @search do |f| %>

	<div class="row">

		<div class="large-3 columns">
		
			<div class="field">
			
			  <th><%= f.label ta('profession.name')%></th>
		
			</div>

		</div>
			
		<div class="large-9 columns">
		
				<%= f.text_field :name_cont %>  
		
		</div>
	    
	</div>


	<div class="row">

	 		<div class="large-3 columns", class: "left inline">

      <%= f.label ta('profession.occupationcode') %>
 	
			</div>
	 		
	 		<div class="large-2 columns">
  
		   <%= f.text_field :occupationcode_eq  %>        	
 
			</div>    

	 		<div class="large-7 columns">
   
			</div>    

	</div>    

<div class="row">

		<div class="large-5 columns">
				
					<%= f.label t('sector') %>

  	</div>

		<div class="large-2 columns">
				
					<%= f.label ta('profession.pap') %>

  	</div>

		<div class="large-1 columns">
						
			<div class="field">
				
				<%= f.check_box :professionalfamily_pap_true %>
						
			</div>

 		 </div>
		
		<div class="large-3 columns">
				
					<%= f.label ta('profession.medres') %>

  	</div>

		<div class="large-1 columns">
						
			<div class="field">
				
				<%= f.check_box :professionalfamily_medres_true %>
						
		</div>
	</div>
</div>


<div class="row">
	    
	<div class="large-6 columns">

	  <%= f.submit t('actions.search'), class: t('seek') %>

	</div>

</div>
  
<% end %>