  <thead>
    <tr>

    	<div class="row">
    
	  		
		    	<div class="large-2 columns">

	  				<th><%= sort_link(@search, :name, ta('school.name')) %></th>
      
    			</div>
    			        
				
		    	<div class="large-2 columns">

	  				<th><%= sort_link(@search, :abbreviation, ta('school.abbreviation')) %></th>
      
    			</div>
    			        
				
		    	<div class="large-2 columns">

	  				<th><%= sort_link(@search, :ministrycode, ta('school.ministrycode')) %></th>
      
    			</div>
    			        
				
		    	<div class="large-2 columns">

	  				<th><%= sort_link(@search, :academiccategory_id, ta('school.academiccategory_id')) %></th>
      
    			</div>
    			        
				
		    	<div class="large-2 columns">

	  				<th><%= sort_link(@search, :public, ta('school.public')) %></th>
      
    			</div>
    			        
				
		    <div class="large-3 columns">

      		<th colspan="3"></th>

				</div>
				
			</div>
		
    </tr>
    
  </thead>