<%= form_for(@college) do |f| %>
  <% if @college.errors.any? %>
    <div id="error_explanation">

			<h2> <%= t('validation.messagetext.system_detected') %> <%= pluralize(@college.errors.count, t('validation.messagetext.error')) %> <%= t('validation.messagetext.please_correct_and_retry') %> </h2>

      <ul>
      <% @college.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<% if is_admin_or_manager(current_user) %>


		<% if action_name=='new' %>

			<div class="row">
	
			
			 		<div class="large-3 columns", class: "left inline">
			
			    <%= f.label ta('institution.name') %><br>
			
					</div>
			 		
			 		<div class="large-9 columns">
		  
					  <%= f.collection_select :institution_id, Institution.registered.without_college, :id, :name,  {prompt: true} %>
				
					
					</div>
				
		 	</div>	 				  
	

	<% else %>

		<div class="row">
	
			<h2><%= link_to @college.institution_name, @college.institution %><h2>

		</div>
		
	<% end %>

<% end %>
		  

<div class="row">

	<div class="panel callout">
	
	<fieldset>
	    	<legend><%= t('infrastructure') %></legend>
	
			<div class="row">
			
		 		<div class="large-3 columns", class: "left inline">
		
			    <%= f.label ta('college.area')  %><br>
	
				</div>
		 		
		 		<div class="large-3 columns">
	  
				   <%= f.number_field :area, min: 0 %>
				
				</div>
	
	 		<div class="large-3 columns", class: "left inline">
		
			    <%= f.label ta('college.libraries')  %><br>
	
				</div>
		 		
		 		<div class="large-3 columns">
	  
				   <%= f.number_field :libraries, min: 0 %>
				
				</div>
			</div>	 		
	
			<div class="row">
			
		 		<div class="large-3 columns", class: "left inline">
		
			    <%= f.label ta('college.classrooms')  %><br>
	
				</div>
		 		
		 		<div class="large-3 columns">
	  
				   <%= f.number_field :classrooms, min: 0 %>
				
				</div>
	
		 		<div class="large-3 columns", class: "left inline">
		
			    <%= f.label ta('college.otherrooms')  %><br>
	
				</div>
		 		
		 		<div class="large-3 columns">
	  
				   <%= f.number_field :otherrooms, min: 0 %>
				
				</div>
			</div>	 				
	
			<div class="row">
			
		 		<div class="large-3 columns", class: "left inline">
		
			    <%= f.label ta('college.foodplaces')  %><br>
	
				</div>
		 		
		 		<div class="large-3 columns">
	  
				   <%= f.number_field :foodplaces, min: 0 %>
				
				</div>
	
	 		<div class="large-3 columns", class: "left inline">
		
			    <%= f.label ta('college.sportscourts')  %><br>
	
				</div>
		 		
		 		<div class="large-3 columns">
	  
				   <%= f.number_field :sportscourts, min: 0 %>
				
				</div>
			</div>	 		
					
		</fieldset>
</div>		  
		  
<div class="panel">
		<fieldset>
    	<legend><%= t('yearly_statistics') %></legend>

	<div class="row">
		
	 		<div class="large-6 columns", class: "left inline">
	
		    <%= f.label ta('college.gradcertificatecourses')  %><br>

			</div>
	 		
	 		<div class="large-6 columns">
  
			   <%= f.number_field :gradcertificatecourses, min: 0 %>
			
			</div>
		
	</div>

	<div class="row">
		
	 		<div class="large-6 columns", class: "left inline">
	
		    <%= f.label ta('college.previousyeargradcertcompletions')  %><br>

			</div>
	 		
	 		<div class="large-6 columns">
  
			   <%= f.number_field :previousyeargradcertcompletions, min: 0 %>
			
			</div>
		
	</div>

	
	</fieldset>
</div>		  
		
	

	<% if can? :update, College  %>
	
	   <div class="row actions">
	  	<%= f.submit :value => t('actions.confirm'), class: t('confirmation') %> |
	 
	<% end %>

  	 <%= link_to t('actions.cancel'), colleges_path, class: "anular" %>
	
	</div>

<% end %>