  <thead>
    <tr>

    	<div class="row">

		    	<div class="large-2 columns">

	  				<th><%= sort_link(@search, :institution_name, tm('institution').capitalize) %></th>
      
    			</div>
    
	  		
		    	<div class="large-2 columns">

	  				<th><%= sort_link(@search, :coursename_id, t('activerecord.attributes.course.coursename_id')) %></th>
      
    			</div>
    			        
				
		    	<div class="large-2 columns">

	  				<th><%= sort_link(@search, :profession_id, t('activerecord.attributes.course.professionalfamily_id')) %></th>
      
    			</div>
    			        
			
		    	<div class="large-2 columns">

	  				<th><%= sort_link(@search, :contact_id, ta('course.supervisor_id')) %></th>
      
    			</div>
  	            			        
				
		    	<div class="large-1 column">

	  				<th><%= sort_link(@search, :workload, t('activerecord.attributes.course.workload')) %></th>
      
    			</div>
    			        
				    			        
				
		    <div class="large-3 columns">

      		<th colspan="3"></th>

				</div>
				
			</div>
		
    </tr>
    
  </thead>