<table>

<%= render 'index_table_head.html.erb' %>

<tbody>
   <% @annotations_index_table.each do |annotation| %>
      <tr>
				<div class="row">



		   <div class="large-2 columns">

        <td><%= link_to annotation.registration.name, annotation.registration %></td>

			</div>


		   <div class="large-2 columns">

        <td><%= link_to annotation.payroll.name, annotation.payroll  %></td>

			</div>


		   <div class="large-1 column">

        <td><% if annotation.absences>0 %>

                <%= annotation.absences %>

             <% end %>

          </td>

			</div>


		   <div class="large-2 columns">

        <td><%#= humanized_money_with_symbol(annotation.discount) %>

						<%= display_non_zero_amount(annotation.discount) %>

        </td>

			</div>

		   <div class="large-2 columns">

        <td><%= display_non_zero_amount(annotation.supplement) %></td>

			</div>

		   <div class="large-1 column">

        <td><%= tickmark(annotation.skip) %></td>

			</div>


		   <div class="large-2 columns">

        <td><%= annotation.comment %></td>

			</div>


		   <div class="large-3 columns">

	        <% if can? :read, annotation %>
		        <td><%= link_to t('actions.show'), annotation, class: t('show') %></td>
					<% end %>

        <% if can? :update, annotation %>
			      <td><%= link_to t('actions.edit'), edit_annotation_path(annotation), class: t('edit') %></td>
					<% end %>

	        <% if can? :destroy, annotation %>
		     		<td><%= link_to t('actions.delete'),annotation, :method => :delete, data: { confirm: t('confirm.delete') }, class: t('remove') %></td>
					<% end %>

    	</div>

    		</div>

      </tr>
  <% end %>
  </tbody>


</table>

<div class="row">

  <%= paginate @annotations %>

</div>

<br>
