<%= form_for(@admission) do |f| %>
<% if @admission.errors.any? %>
<div id="error_explanation">
  <h2><%= t('validation.messagetext.system_detected') %> <%= pluralize(@admission.errors.count, t('validation.messagetext.error')) %> <%= t('validation.messagetext.please_correct_and_retry') %></h2>
  <ul>
    <% @admission.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <%= render 'form_header' %>

	<%= render 'form_dates', :f => f  %>


  <div class="row panel callout">

    <%= render 'form_grants', :f => f  %>

	   <%= render 'form_first_exam', :f => f  %>

     <%= render 'form_final_exam', :f => f  %>

  </div>

  <div class="row panel secondary">

    <%= render 'form_appeals', :f => f  %>

  </div>

  <div class="row custom-panel2">

	   <%= render 'form_approved', :f => f  %>

  </div>

<% if can? :update, Admission %>

   <div class="row actions">
    <%= f.submit :value => t('actions.confirm'), class: t('confirmation') %> |

<% end %>

   <%= link_to t('actions.cancel'), admissions_path, class: t('cancel') %>

</div>

<% end %>
