<div class="row">
						
	<div class="large-11 large-offset-1 column">


		<% annotation=registration.annotation.for_payroll(@bankpayment.payroll).first %>

		<%= ta('annotation.absences').pluralize %>: <%= annotation.absences %>

	 	<%= t('gross') %>: <%= calculate_gross_payment_due(@bankpayment, registration) %>

		<%= ta('statement.incometax') %>:  <%= calculate_income_tax2(@bankpayment, registration) %>		 
 
		<%= ta('statement.socialsecurity') %>: <%= calculate_social_security_fee2(@bankpayment, registration) %>

	 	<%= t('net') %>: <%= calculate_net_amount(@bankpayment, registration) %>

	</div>
			 	
</div>							