<div class="row">

	<h2><%= t('report').capitalize %> <%= t('bankpayment_explanation').capitalize %></h2>

</div>


<div class="row">

	<h3 class="subheader">
		<div class="large-9 columns">
	
			<%= tm('bankpayment').capitalize %> - <%= tm('payroll').capitalize %>: <%= @bankpayment.payroll.name %>
	
		</div>
	
			<div class="large-3 columns">
			
				<% if admin_or_manager?(current_user) %>

					<%= humanized_money_with_symbol(@bankpayment.totalamount) %>
			
				<% end %>
				
			</div>
		
	</h3>
	
</div>

<br>
<br>


<%	@confirmed_institutions.each do |institution| %>
		
		<br>
		
	<%= render 'report2_student_info.html.erb', institution: institution %>
				
				
<% end %>


<hr>
<hr>

<div class="row">

<h5><%= current_user.contact_name %></h5>

</div>

<div class="row">

	<h5><%= I18n.l(Time.now) %></h5>
	
</div>

<div class="row">
	
	<%= link_to t('actions.print'), report2_bankpayment_path(@bankpayment), :onclick => 'window.print();return false;', class: 'small button info' %> | 

	<%= link_to 'voltar'.capitalize, bankpayments_path,  class: 'voltar'  %>

</div>