<div class="row">

	<h2><%= t('report').capitalize %> <%= t('bankpayment_explanation').capitalize %></h2>

</div>

<div class="row">

	<h3 class="subheader">
		<div class="large-9 columns">

			<%= tm('bankpayment').capitalize %> - <%= tm('payroll').capitalize %>: <%= @bankpayment.payroll.name %>

		</div>

		<% if is_admin_or_manager(current_user) %>

			<div class="large-3 columns">

				<%= humanized_money_with_symbol(@bankpayment.totalamount) %>

			</div>

		<% end %>

	</h3>

</div>

<% @confirmedregistrations.each_with_index do |registration, n| %>

<%# @confirmedregistrations.includes(schoolyear: {program: :institution}).includes(schoolyear: {program: :programname}).includes(schoolyear: {program: :schoolterm}).ordered_by_contact_name.each_with_index do |registration, n| %>

<hr>

	<div class="row">

		<h4><%= n+1 %></h4>

		 <%= render 'report_registration_details', registration: registration %>
		 <%= render 'report_calculations', registration: registration %>

	</div>

<% end %>


<hr>
<hr>

<div class="row">

<h5><%= current_user.contact_name %></h5>

</div>

<div class="row">

	<h5><%= I18n.l(Time.now) %></h5>

</div>

<div class="row">

	<%= link_to t('actions.print'), report_bankpayment_path(@bankpayment), :onclick => 'window.print();return false;', class: 'small button info'%> |

	<%= link_to 'voltar'.capitalize, bankpayments_path,  class: 'voltar'  %>

</div>
