<div class="row">

	<h2><%= t('report').capitalize %> <%= t('total') %> </h2>

</div>


<% @confirmedregistrations.ordered_by_contact_name.each_with_index do |registration, n| %>
	
	<div class="row">
				 
		 <%#= render 'report_registration_details', registration: registration %>
		 <%#= render 'totalreport_calculations', registration: registration %>
		 		 
		 <% @social_security_total_amount+=calculate_social_security_fee(registration) %>

	</div>
	
<% end %>

<% @annotated_registrations.each_with_index do |registration, n| %>
	
	<% @absences_total_amount+=absence_value_for(registration) %>
	
	<% if registration.cancelled_on_this_payroll?(@bankpayment.payroll) %>
	
	
	  <% if  (registration.accreditation.revocation-registration.accreditation.start>Settings.min_number_days_worked.pap) %>
	  
			<% @absences_amount_from_cancellations+=absence_value_for(registration) %>
	
		<% end %>
		
	<% end %>	
				 
<% end %>


<%# @late_registrations.each_with_index do |registration, n| %>

	
	<%# @absences_amount_from_late_registrations+=absence_value_for(registration) %>
		 
<%# end %>

<div class="row">
		<table>
			<tr>

							<div class="large-1 column">
					
								<th><strong><%= ta('payroll.monthworked') %></strong></th>
					
							</div>

							<div class="large-1 column">
					
								<th><strong><%= tm('student').capitalize.pluralize %></strong></th>
					
							</div>

							<div class="large-1 column">
					
								<th><strong><%= t('scholarship_amount') %></strong></th>
					
							</div>
			
							<div class="large-1 column">
						
								<th><strong><%= t('gross') %></strong></th>
					
							</div>
			
							<div class="large-1 column">
					
								<th><strong><%= t('total_absences_amount') %></strong></th>
					
							</div>

							<div class="large-1 column">
					
								<th><strong><%= t('related_to_cancellations') %></strong></th>
					
							</div>

							<div class="large-1 column">
					
								<th><strong><%= t('related_to_late_registrations') %></strong></th>
					
							</div>

							<div class="large-1 column">
					
								<th><strong><%= t('regular_absences') %> </strong></th>
					
							</div>

							<div class="large-1 column">
					
								<th><strong><%= ta('taxation.socialsecurity') %></strong></th>
					
							</div>

							<div class="large-1 column">
					
								<th><strong><%= t('net') %></strong></th>
					
							</div>


				</tr>
		</div>
	
	
			<div class="row">
		
				<tr>

					<div class="large-1 column">
					
						<td><%= I18n.l(@bankpayment.payroll.monthworked, format: :my) %></td>	
					
					</div>

				
					<div class="large-1 column">
					
						<td><%= @num_confirmed_for_payment %></td>
					
					</div>

					<div class="large-1 column">
					
						<td><%= humanized_money_with_symbol(@scholarship_amount) %></td>
					
					</div>

					<div class="large-1 column">
					
						<td><%= humanized_money_with_symbol(@scholarship_amount*@num_confirmed_for_payment) %></td>
					
					</div>

					<div class="large-1 column">
					
						<td> <%= humanized_money_with_symbol(@absences_total_amount) %> </td>
					
					</div>

					<div class="large-1 column">
					
						<td> <%= humanized_money_with_symbol(@absences_amount_from_cancellations) %> </td>
					
					</div>

					<div class="large-1 column">
					
						<td> <%= humanized_money_with_symbol(@absences_amount_from_late_registrations) %> </td>
					
					</div>
				
					<div class="large-1 column">
					
						<td> <%= humanized_money_with_symbol(@absences_total_amount-@absences_amount_from_cancellations-@absences_amount_from_late_registrations) %> </td>
					
					</div>
				
					<div class="large-1 column">
					
						<td> <%= humanized_money_with_symbol(@social_security_total_amount) %> </td>
					
					</div>

					<div class="large-1 column">
					
						<td> <%= humanized_money_with_symbol(@bankpayment.totalamount) %> </td>
					
					</div>
																				

	</table>
</div>

<div class="row">

<h5><%= current_user.contact_name %></h5>

</div>

<div class="row">

	<h5><%= I18n.l(Time.now) %></h5>
	
</div>

<div class="row">
	
	<%= link_to t('back'), bankpayments_path,  class: t('back')  %>

</div>